<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Learn Vue - Day 01</title>
</head>
<body>

<div id="app-7">
  <ol>
    <todo-item
        v-for="item in todoList"
        v-bind:todo="item"
        v-bind:key="item.id">
    </todo-item>
  </ol>
</div>

<script src="https://unpkg.com/vue"></script>
<script type="text/javascript">

  Vue.component('todo-item', {
    props: ['todo'],
    template: '<li>{{ todo.text }}</li>'
  })

  var app7 = new Vue({
    el: '#app-7',
    data: {
      todoList: [
        {id: 0, text: '蔬菜'},
        {id: 1, text: '奶酪'},
        {id: 2, text: '随便其它什么人吃的东西'}
      ]
    }
  })

</script>
</body>
</html>