<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Learn Vue - Day 01</title>
</head>
<script>
  window.onload = function () {

  }
</script>
<body>

<div id="app">
  <p>{{ message }}</p>
</div>

<div id="app-2">
  <span v-bind:title="message">鼠标悬停几秒钟查看此处动态绑定的提示信息！</span>
</div>

<div id="app-3">
  <p v-if="seen">现在你看到我了！</p>
</div>

<div id="app-4">
  <ol>
    <li v-for="toto in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>

<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
<script type="text/javascript">
  let app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue.js!'
    }
  });

  let app2 = new Vue({
    el: "#app-2",
    data: {
      message: "页面加载与 " + new Date().toLocaleDateString()
    }
  });

  let app3 = new Vue({
    el: "#app-3",
    data: {
      seen: true
    }
  });

  let app4 = new Vue({
    el: "#app-4",
    data: {
      todos: [
        { text: "学习 JavaScript" },
        { text: "学习 Vue" },
        { text: "整个牛项目" }
      ]
    }
  });
</script>

</body>
</html>